<header>
    <nav>
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a [routerLink]="['gallery']">
                    Gallery
                </a>
            </li>
            <li>
                <a [routerLink]="['mygallery']">
                    My Gallery
                </a>
            </li>
            <li>
                <a [routerLink]="['login']">
                    Login
                </a>
            </li>
        </ul>
    </nav>
</header>

<div>
    <router-outlet></router-outlet>
</div>

<div class="messages">
    <div class="message" *ngFor="let message of messageService.messages">
        <div class="alert" [class.alert-success]="message.type == 'success'" [class.alert-danger]="message.type == 'error'">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            
            <div class="font-weight-bold">
                {{message.title}}
            </div> 
            
            <div>
                {{message.content}}
            </div>
        </div>
    </div>
</div>